src/tartan/TartanUI/resources/xml/SettSchema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SettSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:integer" name="SettCount"/>
        <xs:element name="Thread" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="ID"/>
              <xs:element type="xs:string" name="ColourName"/>
              <xs:element type="xs:string" name="ColourCode"/>
              <xs:element type="xs:string" name="ColourShortHand"/>
			  <xs:element type="xs:integer" name="ThreadCount"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>